/* Estilos Generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #C8E7FF;
}

header{
    background-color: #78BAF0;
    padding: 1vw;
    border-bottom: 2px solid #4496E0;
}

.headerSuperior{
    display: flex;
    align-items: center;
}

.divLogo img{
    width: 4vw;
}

h1{
    margin-left: 2vw;
    font-size: 3vw;
}

h2{
    font-size: 2.4vw;
    text-align: center;
    margin: 2vw 0;
}

h3{
    font-size: 1.3vw;
}

p{
    font-size: 1vw;
}

nav{
    padding: 1vw 0;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

ul li:hover{
    background-color: #C8E7FF;
    border-radius: 20px;
}

ul li a{
    text-decoration: none;
    color: black;
    margin: 1vw;
    font-size: 2vw;
}

footer{
    background-color: #78BAF0;
    padding: 1vw;
}

/* Plantilla */
.sectionExplicación{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1.5vw 0 2.5vw 0;
}

.sectionExplicación p{
    width: 50%;
    font-size: 1.5vw;
}

.sectionJugadores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1.5vw;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: max-content;
    padding-bottom: 0.5vw;
    margin: 2vw;
    border: 3px solid black;
    border-radius: 20px;
}

.card img{
    width: 16vw;
    border-bottom: 1px solid #5FC6FF;
    border-radius: 15px 15px 0px 0px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card p{
    width: 12vw;
    margin-top: 0.5vw;
}

/* Detalle */
.sectionDescripcion{
    display: flex;
    align-items: center;
    margin: 0 3vw;
}

.sectionDescripcion img{
    width: 20vw;
    border: 3px solid black;
    border-radius: 140px;
}

.sectionDescripcion p{
    width: 30vw;
    font-size: 1.2vw;
    margin-left: 4vw;
}

.sectionCamiseta{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1vw 15vw 3vw 0;
}

.sectionCamiseta p{
    font-size: 1.4vw;
    width: 40%;
    text-align: center;
}

.sectionCamiseta img{
    width: 17vw;
}

/* Contacto */
.main-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin-bottom: 2vw;
}

.main-contacto form p{
    margin-bottom: 1vw;
    font-size: 1.5vw;
}

fieldset{
    width: 80vw;
    padding: 1vw;
    border-radius: 15px;
}

legend{
    color: black;
    font-size: 1.2vw;
}

.sectionContacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.sectionContacto div{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 1vw;
    font-weight: bold;
}

.sectionContacto input, .sectionContacto select{
    width: 20vw;
    font-size: 1vw;
    margin: 0.5vw 0;
    padding: 0.1vw;
    border: 1px solid black;
    border-radius: 5px;
}

.divTextarea{
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 1vw 0 1vw 9.5vw;
}

.divTextarea textarea{
    font-family: 'Montserrat', sans-serif;
    padding: 0.5vw;
    margin-top: 0.5vw;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    font-size: 0.8vw;
}

.divButtonForm{
    display: flex;
    justify-content: end;
}

.divButtonForm button{
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    color: black;
    background-color: #5FC6FF;
    border: 2px solid #4496E0;
    border-radius: 15px;
    margin-right: 3vw;
    cursor: pointer;
}

.divButtonForm button:hover{
    color: #C8E7FF;
}

/* Gracias */
.main-gracias{
    height: 65vh;
}

.main-gracias p{
    text-align: center;
    font-size: 1.5vw;
}

.divMessiSaludo{
    display: flex;
    justify-content: center;
    margin: 2vw 0;
}

.divMessiSaludo img{
    width: 15vw;
}

/* 404 */
.main-404{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw 0;
}

.main-404 p{
    margin-bottom: 2vw;
    font-size: 1.5vw;
}

.main-404 ul li a{
    font-size: 3vw;
}